In [1]:
#import all packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Importing the medical data file for cleaning
df = pd.read_csv(r'C:\Users\arjun\OneDrive\Desktop\WGU\D210\Heart Disease\heart_disease_health_indicators_BRFSS2015.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   HeartDiseaseorAttack  253680 non-null  float64
 1   HighBP                253680 non-null  float64
 2   HighChol              253680 non-null  float64
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  float64
 7   Diabetes              253680 non-null  float64
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  float64
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
dtypes: float64(22)
memory usage: 42.6 MB

To clean all the data, I will be converting the categorical variables which are to numerical by ordinal encoding.

In [2]:
#ordinal encoding using previous PA (D206)
var_cat = ['HeartDiseaseorAttack', 'HighChol', 'Stroke', 'Diabetes','HighBP']
dict_var = {0 :'No', 1:'Yes', 2: 'Yes'}
for i in var_cat:
    df[i] = df[i].replace(dict_var)
#Check if it worked 
df['HighBP']

0         Yes
1          No
2         Yes
3         Yes
4         Yes
         ...
253675    Yes
253676    Yes
253677     No
253678    Yes
253679    Yes
Name: HighBP, Length: 253680, dtype: object

In [3]:
conv= {0: 'Male', 1: 'Female'}
df['Sex'] = df['Sex'].replace(conv)
df['Sex']

0           Male
1           Male
2           Male
3           Male
4           Male
           ...
253675    Female
253676      Male
253677      Male
253678    Female
253679      Male
Name: Sex, Length: 253680, dtype: object

In [4]:
#import the cleaned medical data set
df_2 = pd.read_csv(r'C:\Users\arjun\OneDrive\Desktop\WGU\D210\medical_clean.csv')
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 50 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CaseOrder           10000 non-null  int64
 1   Customer_id         10000 non-null  object
 2   Interaction         10000 non-null  object
 3   UID                 10000 non-null  object
 4   City                10000 non-null  object
 5   State               10000 non-null  object
 6   County              10000 non-null  object
 7   Zip                 10000 non-null  int64
 8   Lat                 10000 non-null  float64
 9   Lng                 10000 non-null  float64
 10  Population          10000 non-null  int64
 11  Area                10000 non-null  object
 12  TimeZone            10000 non-null  object
 13  Job                 10000 non-null  object
 14  Children            10000 non-null  int64
 15  Age                 10000 non-null  int64
 16  Income              10000 non-null  float64
 17  Marital             10000 non-null  object
 18  Gender              10000 non-null  object
 19  ReAdmis             10000 non-null  object
 20  VitD_levels         10000 non-null  float64
 21  Doc_visits          10000 non-null  int64
 22  Full_meals_eaten    10000 non-null  int64
 23  vitD_supp           10000 non-null  int64
 24  Soft_drink          10000 non-null  object
 25  Initial_admin       10000 non-null  object
 26  HighBlood           10000 non-null  object
 27  Stroke              10000 non-null  object
 28  Complication_risk   10000 non-null  object
 29  Overweight          10000 non-null  object
 30  Arthritis           10000 non-null  object
 31  Diabetes            10000 non-null  object
 32  Hyperlipidemia      10000 non-null  object
 33  BackPain            10000 non-null  object
 34  Anxiety             10000 non-null  object
 35  Allergic_rhinitis   10000 non-null  object
 36  Reflux_esophagitis  10000 non-null  object
 37  Asthma              10000 non-null  object
 38  Services            10000 non-null  object
 39  Initial_days        10000 non-null  float64
 40  TotalCharge         10000 non-null  float64
 41  Additional_charges  10000 non-null  float64
 42  Item1               10000 non-null  int64
 43  Item2               10000 non-null  int64
 44  Item3               10000 non-null  int64
 45  Item4               10000 non-null  int64
 46  Item5               10000 non-null  int64
 47  Item6               10000 non-null  int64
 48  Item7               10000 non-null  int64
 49  Item8               10000 non-null  int64
dtypes: float64(7), int64(16), object(27)
memory usage: 3.8+ MB

In [5]:
#adding a source column to make it easier to see where data originates from
df['Source']= 'CDC'
df_2['Source'] = 'WGU'
df.info()
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   HeartDiseaseorAttack  253680 non-null  object
 1   HighBP                253680 non-null  object
 2   HighChol              253680 non-null  object
 3   CholCheck             253680 non-null  float64
 4   BMI                   253680 non-null  float64
 5   Smoker                253680 non-null  float64
 6   Stroke                253680 non-null  object
 7   Diabetes              253680 non-null  object
 8   PhysActivity          253680 non-null  float64
 9   Fruits                253680 non-null  float64
 10  Veggies               253680 non-null  float64
 11  HvyAlcoholConsump     253680 non-null  float64
 12  AnyHealthcare         253680 non-null  float64
 13  NoDocbcCost           253680 non-null  float64
 14  GenHlth               253680 non-null  float64
 15  MentHlth              253680 non-null  float64
 16  PhysHlth              253680 non-null  float64
 17  DiffWalk              253680 non-null  float64
 18  Sex                   253680 non-null  object
 19  Age                   253680 non-null  float64
 20  Education             253680 non-null  float64
 21  Income                253680 non-null  float64
 22  Source                253680 non-null  object
dtypes: float64(16), object(7)
memory usage: 44.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 51 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CaseOrder           10000 non-null  int64
 1   Customer_id         10000 non-null  object
 2   Interaction         10000 non-null  object
 3   UID                 10000 non-null  object
 4   City                10000 non-null  object
 5   State               10000 non-null  object
 6   County              10000 non-null  object
 7   Zip                 10000 non-null  int64
 8   Lat                 10000 non-null  float64
 9   Lng                 10000 non-null  float64
 10  Population          10000 non-null  int64
 11  Area                10000 non-null  object
 12  TimeZone            10000 non-null  object
 13  Job                 10000 non-null  object
 14  Children            10000 non-null  int64
 15  Age                 10000 non-null  int64
 16  Income              10000 non-null  float64
 17  Marital             10000 non-null  object
 18  Gender              10000 non-null  object
 19  ReAdmis             10000 non-null  object
 20  VitD_levels         10000 non-null  float64
 21  Doc_visits          10000 non-null  int64
 22  Full_meals_eaten    10000 non-null  int64
 23  vitD_supp           10000 non-null  int64
 24  Soft_drink          10000 non-null  object
 25  Initial_admin       10000 non-null  object
 26  HighBlood           10000 non-null  object
 27  Stroke              10000 non-null  object
 28  Complication_risk   10000 non-null  object
 29  Overweight          10000 non-null  object
 30  Arthritis           10000 non-null  object
 31  Diabetes            10000 non-null  object
 32  Hyperlipidemia      10000 non-null  object
 33  BackPain            10000 non-null  object
 34  Anxiety             10000 non-null  object
 35  Allergic_rhinitis   10000 non-null  object
 36  Reflux_esophagitis  10000 non-null  object
 37  Asthma              10000 non-null  object
 38  Services            10000 non-null  object
 39  Initial_days        10000 non-null  float64
 40  TotalCharge         10000 non-null  float64
 41  Additional_charges  10000 non-null  float64
 42  Item1               10000 non-null  int64
 43  Item2               10000 non-null  int64
 44  Item3               10000 non-null  int64
 45  Item4               10000 non-null  int64
 46  Item5               10000 non-null  int64
 47  Item6               10000 non-null  int64
 48  Item7               10000 non-null  int64
 49  Item8               10000 non-null  int64
 50  Source              10000 non-null  object
dtypes: float64(7), int64(16), object(28)
memory usage: 3.9+ MB

In [6]:
#multiply age by 5 to get a more accurate representation of age so it can be compared to the WGU dataset.
df['Age'] = df['Age'] * 5
df['Age'].head()

0    45.0
1    35.0
2    45.0
3    55.0
4    55.0
Name: Age, dtype: float64

In [7]:
#combining the data into one dataframe
df_fin = pd.concat([df_2, df], ignore_index=True)
df_fin

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,...,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Education
0,1.0,C412403,8cd49b13-f45a-4b47-a2bd-173ffa932c2f,3a83ddb66e2ae73798bdf1d705dc0932,Eva,AL,Morgan,35621.0,34.34960,-86.72508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,Z919181,d2450b70-0337-4406-bdbb-bc1037f1734c,176354c5eef714957d486009feabf195,Marianna,FL,Jackson,32446.0,30.84513,-85.22907,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,F995323,a2057123-abf5-4a2c-abad-8ffe33512562,e19a0fa00aeda885b8a436757e889bc9,Sioux Falls,SD,Minnehaha,57110.0,43.54321,-96.63772,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,A879973,1dec528d-eb34-4079-adce-0d7a40e82205,cd17d7b6d152cb6f23957346d11c3f07,New Richland,MN,Waseca,56072.0,43.89744,-93.51479,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,C544523,5885f56b-d6da-43a3-8760-83583af94266,d2f0425877b10ed6bb381f3e2579424a,West Point,VA,King William,23181.0,37.59894,-76.88958,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,0.0,3.0,0.0,5.0,0.0,Female,6.0
263676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,4.0,0.0,0.0,1.0,Male,2.0
263677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,Male,5.0
263678,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,Female,5.0
263679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,Male,6.0

In [8]:
#check if the source column correctly merged
df_fin['Source']

0         WGU
1         WGU
2         WGU
3         WGU
4         WGU
         ...
263675    CDC
263676    CDC
263677    CDC
263678    CDC
263679    CDC
Name: Source, Length: 263680, dtype: object

In [9]:
#export the final data frame as a CSV file.
df_fin.to_csv(r'C:\Users\arjun\OneDrive\Desktop\WGU\D210\combined_df.csv', index = False)

In [10]:
df_fin['HighBP']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
263675    Yes
263676    Yes
263677     No
263678    Yes
263679    Yes
Name: HighBP, Length: 263680, dtype: object

# C. Reflection Paper

1. The dashboard I have made aligns with the needs outlined in the data dictionary as it looks at important health indicators, such as Strokes, Diabetes, and High Blood Pressure. By using these important variables, we can see how often patients suffer from these issues and how, if they do, we can reduce the readmission of patients in WGU hospitals.

2. I chose the Heart Disease Health Indicators Dataset on Kaggles as it looks at these same health indicators provided to us in the WGU dataset and compares them to data collected by the CDC (Centers for Disease Control). It looks at data collected from the whole country and will be able to tell us how different the patients coming into WGU hospitals are from the average patient in the country if there is any difference.

3. Two different data representations from my dashboard will help the executive leaders in their decision-making process. The first one is the Stroke graphs on the first dashboard of Stroke & Diabetes. The ratio of patients who have had a stroke and have been admitted to a WGU hospital versus the CDC consensus is large. This means that there are significantly more patients who have had strokes in WGU than all over the country. Executive leaders should use this information to see why this is the case. They should educate themselves and patients on the topic and find ways to reduce this ratio.
   Another representation that shows a similar story is the ratio between patients who have Diabetes at WGU hospitals and patients suffering from diabetes, according to the CDC. WGU has more patients who have Diabetes which means people are more likely to come in due to having more complications with their health and be readmission patients.

4. An interactive control in my dashboard would be the gender selection in the High BP & Gender dashboard. This shows us the distribution of High BP between genders and allows us to select specific genders in the pie graph.
   Another slider I have is the Age slider for Stroke on the KPI dashboard. This allows us to select the age range for the presented KPI tables.

5. I made the dashboard accessible for individuals with colorblindness by making the graphs and tables presented gray or on the grayscale. I also used the colorblind color scheme on the pie charts used for genders which creates a high contrast between the colors which makes it more colorblind accessible.

6. When looking at the Stroke and Diabetes representations, both compare the patients who have had these issues at WGU hospitals and the data collected from the CDC. Here, we notice that there are a larger number of people suffering from both Strokes and Diabetes from WGU hospitals than patients whose data has been collected from the CDC. This supports the point that I want to bring up, as since there is a higher ratio of patients at WGU hospitals suffering from these ailments, this would mean that they have a higher risk of readmission due to not being as healthy as what should generally be found.

7. I used audience analysis to adapt the message in my presentation in many ways. The first way was by using simple bar charts that brought the message across without too many complications. The reason for this is that the executive leaders of my organization may not have advanced technical knowledge about analytics, and so these graphs bring up the point without overcomplicating it. The second way I used audience analysis to adapt the message was by making the presentation accessible to colorblindness.

8. I designed the presentation for universal access by all audiences as I made the presentation accessible to those with colorblindness by making the charts in grayscale and using the colorblind option for colors to allow a higher contrast in the pie charts.

9. The two main elements in my storytelling that I want to share are across is the difference in different health indicators between what was found for WGU patients and patients seen in the CDC study and a representation of the data that shows the distribution of patients who have had Strokes or diabetes depending on their age. I was able to tie them together and how they will be able to effectively show the executive leaders what needs to be done to decide readmission into WGU hospitals. I also used the tables with strokes and diabetes depending on their age to allow us to see the distributions of people and try to give extra care to those target audiences to allow for better care and prevention of these health issues.

# D. Sources
1. “Pandas Documentation#.” Pandas Documentation - Pandas 2.2.2 Documentation, pandas.pydata.org/docs/. Accessed 14 Aug. 2024. 

2. Gupta, Arjun. D206 Data Cleaning Performance Assessment.
   
3. The BI Geek. “How to Create Explorer like Tabs in a Tableau Dashboard.” YouTube, YouTube, www.youtube.com/watch?v=1x5iHXxpgjU&t=2s. Accessed 14 Aug. 2024.